body {
    padding-left: 15px;
    padding-right: 15px;
}

.page-header {
    background-color: #B8860B;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    border-radius: 10px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    border-radius: 10px;
}

.date {
    color: black;
    font-size: 15px;
}

h1, h2, h3, h4 {
    font-family: 'Montserrat Alternates', sans-serif;
}

.allnotes {
    background-color: #DAA520;
    margin-top: 0px;
    padding: 10px 10px 10px 10px;
    color: white;
    border-radius: 10px;
}

.post {
	margin-bottom: 0px;
	margin-left: 10px;
}

.detailnotes, .detailnotes h1{
	background-color: #FF7F7F;
    margin-top: 0px;
    padding: 10px 10px 10px 10px;
    color: black;
    border-radius: 10px;;
}

.firstdetail a{
	text-decoration: none;
	color: white;
}

.post2-titile {
	font-size: 20pt;
	padding: 0px 0px 0px 0px;
    font-family:'Lobster', cursive;
}

.post2-text {
	font-size: 15pt;
	padding: 0px 0px 0px 0px;
}

.recent {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    border-radius: 10px;
}

.post-date-author {
    font-size: 10px;
    font-family:'Lobster', cursive;
}