{% extends "base.html" %}

{% block title %}Подробности{% endblock %}

{% block content %}
  <div class="container">
    <div class="section">
    {% if post.published_date %}
        <p>Опубликовано: {{ post.published_date }} </p>
    {% endif %}

    <h1>{{ post.title }}</h1>
    <p>{{ post.text|linebreaksbr }}</p>

    {% if user.is_authenticated %}
        <a href="{% url 'blog:post_edit' id=post.id %}">Редактировать</a>
    {% endif %}
    </div>
  </div>
<br>

{% if user.is_authenticated %}
  <div class="container">
        {% if post.comment_set.all %}
            <h5> <i> Комментарии: </i></h5>
            <div>
                {% for comments in post.comment_set.all %}
                    <div class="comm-post"> {{ comments.text }} </div>
                    <i>Aвтор комментария: {{ comments.author|capfirst }}
                    <br>Опубликовано: {{ comments.created }}<br><br></i>

                {% endfor %}
            </div>
        {% endif %}
        <a href="{% url 'blog:add_comment' id=post.id %}">Добавить комментарий</a>
  </div>
{% endif %}

<br><br>
{% endblock %}