<!DOCTYPE html>
<html lang="ru">
 <head>
        <title>Rinat's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Все записи:</a></h1>
        </div>
                {% for post in posts %}
                    {{ post }}
                {% endfor %}
        <div>

            <h2><a href="">Детализация всех записей</a></h2>
             {% block post %}
                    {% for post in posts %}
                <div>

                    <h1>{{post.title}}</h1>
                    <p>Текст статьи: {{post.text}}</p>
                    <p>Автор статьи: {{ post.author|capfirst }}. Опубликована: {{post.published_date|date:"SHORT_DATE_FORMAT"}} </p>
                    <br>
                </div>
                    {% endfor %}
                {% endblock %}

        </div>

        <div>

            <h2><a href="">Вторая запись</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>